.NavBar {
  width: 100%;
  height: 6%;
  background: rgba(30, 39, 48, 0.795);
  overflow: hidden;
}
.navitem1 {
  float: right;
  background: rgb(27, 15, 19);
  border: rgba(255, 255, 255, 0);
  color: white;
  height: 100%;
  width: 90px;
  margin-right: 4%;
}

.navitem1:hover {
  background: rgb(54, 23, 33);
  cursor: pointer;
}

.navitem1::active {
  background: rgb(82, 47, 58);
  cursor: pointer;
}
.logo {
  position: absolute;
  font-size: 30px;
  color: white;
  font-family: "Laila", serif;
}
.welcome {
  float: right;
  text-align: center;
  position: absolute;
  color: white;
  width: 100%;
  margin: auto;
  font-size: 30px;
}
